name: gosum

on:
  push:
    branches:
      - 'master'
    paths:
      - '.github/workflows/gosum.yml'
      - 'go.mod'
      - 'go.sum'

jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.13
      -
        name: Tidy
        run: |
          rm -f go.sum
          go mod tidy
      -
        name: Raise pull request
        uses: actions/github-script@0.9.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { readFileSync } = require('fs');
            const { resolve } = require('path');
            const { execSync } = require('child_process');

            const changedFiles = execSync('git diff --name-only').toString().split('\n').filter(Boolean);
            if (!changedFiles.includes('go.sum')) {
              return;
            }

            const time = new Date().toISOString().split('.')[0];
            const title = `Fix go.sum`;
            const baseBranch = execSync('git branch').toString().split('\n').map(branch => {
              const match = /^\* (.*)$/.exec(branch);
              return match && match[1];
            }).find(Boolean);

            const parentSha = execSync('git rev-parse HEAD').toString().trim();
            const branch = `fix-gosum-${time.replace(/[T:]/g, '-')}`;
            const tree = await github.git.createTree({
              ...context.repo,
              base_tree: parentSha,
              tree: changedFiles.map(path => ({
                path,
                mode: '100644',
                content: readFileSync(resolve(process.cwd(), path), 'utf8')
              }))
            });

            const commit = await github.git.createCommit({
              ...context.repo,
              message: title,
              tree: tree.data.sha,
              parents: [parentSha]
            });

            await github.git.createRef({
              ...context.repo,
              ref: `refs/heads/${branch}`,
              sha: commit.data.sha
            });

            await github.pulls.create({
              ...context.repo,
              title,
              head: branch,
              base: baseBranch
            });
